<div class="bg-stone-900">
  <div class="bg-stone-800 px-5 py-3 border-b border-[color:#ed145b]">
    <span class="font-bold text-xl text-[color:#ed145b]">Sugestly AI</span>
  </div>

  <div class="md:w-8/12 md:mx-auto min-h-screen bg-stone-800 p-5 flex flex-col gap-4 mb-10">
    <div *ngFor="let message of messages">
      <app-message [user]="message.user" [message]="message.message" [time]="message.time"
        [link]="message?.link"></app-message>
    </div>
  </div>

  <div class="bg-stone-900 fixed bottom-0 w-full h-14 flex justify-center items-center">
    <form class="md:w-6/12 w-full px-2 flex items-center mx-auto">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <input type="text" name="message" id="message " [(ngModel)]="messageInput"
          class="bg-stone-800 border text-white border-gray-300 text-sm rounded-lg block w-full p-2.5"
          placeholder="Digite sua dúvida..." required />
      </div>
      <button type="submit" (click)="sendMessage()"
        class="px-2.5 py-1.5 ms-2 text-sm font-medium text-white bg-[color:#ed145b] focus:border-white rounded-lg">
        <i class="ph ph-paper-plane-tilt text-lg"></i>
      </button>
    </form>
  </div>
</div>